<p>upload-config-file works!</p>
<div class="container">
  <div class="testFill" id="configFileType">
    <label for="configFileType">Please Choose a Config File Type:</label>
    <select name="configFileType" id="cars">
      <option value="examInstanceComponent">Exam instance component</option>
      <option value="examInstanceItem">Exam instance item</option>
      <option value="examInstanceReport">Exam instance report</option>
      <option value="examInstanceScoreType">Exam instance score type</option>
      <option value="examReference">Exam reference</option>
      <option value="mssScoreCategory">MSS score category</option>
    </select>
  </div>
  <div class="testFill" id="configFile"></div>
</div>
